<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/base/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/css/style.css">
   
 
   
    
 
</head>
<body>

        @RenderBody()
   
</body>
</html>
