@{
	ViewData["Title"] = "Home Page";
	Layout = "_HomeLayout";
}


<section class="hero">
	<div class="background-image" style="background-image: url(/assets/img/Main.jpg);"></div>
	<h1>Клиника для животных.</h1>
	<h3>Как ваш местный эксперт по здоровью домашних животных, мы надеемся, что ваша семья будет полагаться на нашу команду как на вашего гостеприимного, квалифицированного и отзывчивого партнера по уходу.</h3>
	<a href="/Account/Login" class="btn">Войти в личный кабинет</a>
</section>