@using Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@model VetEntity;
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic form elements</h4>
            <p class="card-description">
                Basic form elements
            </p>
            <form class="forms-sample" action="/Admin/Profile/EditVet" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Login" />
                <input type="hidden" asp-for="Password" />
                <input type="hidden" asp-for="RoleType" />
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="Name"></label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location" asp-for="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="LastName"></label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location" asp-for="LastName">
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="FatherName"></label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location" asp-for="FatherName">
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="Phone"></label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location" asp-for="Phone">
                </div>


                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default" id="image">
                    <img src="@Model.PhotoParth" id="im" style="width:100px;height:100px;margin-left: auto; margin-right: auto;  display: block;" />
                    <div class="input-group col-xs-12">
                        <input type="hidden" id="test" asp-for="PhotoParth" />

                        <input type="text" class="form-control file-upload-info" asp-for="PhotoParth" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
                <a href="/Admin/Vet/Index" class="btn btn-light">Отмена</a>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('.file-upload-default').on('change', function () {
            var file = new FormData();
            file.append("File", $(this)[0].files[0]);
            console.log(file);
            $.ajax({
                url: "/Admin/Vet/AddPhoto",
                contentType: false,
                processData: false,
                data: file,
                type: "POST",

                success: function (data) {
                    alert(data)
                    $("#test").val(data);
                    $("#im").attr("src", data);
                    console.log($("#test").val())
                }

            })
        });

    </script>
}
