@using Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@model VetEntity;
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Создание Врача</h4>
            
            <form class="forms-sample" asp-area="Admin" asp-controller="Profile" asp-action="EditVet">
                
                <input type="hidden" asp-for="Id" value="0" />
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="Name"></label>
                    <input type="text" class="form-control"  placeholder="Location" asp-for="Name">
                    <span asp-validation-for="Name" class=" mb-3 fw-normal"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="LastName"></label>
                    <input type="text" class="form-control" placeholder="Location" asp-for="LastName">
                    <span asp-validation-for="LastName" class=" mb-3 fw-normal"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="FatherName"></label>
                    <input type="text" class="form-control"  placeholder="Location" asp-for="FatherName">
                    <span asp-validation-for="FatherName" class=" mb-3 fw-normal"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="Phone"></label>
                    <input type="tel" class="form-control"  placeholder="Location" asp-for="Phone" id="phone">
                    <span asp-validation-for="Phone" class=" mb-3 fw-normal"></span>
                </div>
                  <div class="form-group">
                    <label for="exampleInputCity1" asp-for="Login"></label>
                    <input type="text" class="form-control"  placeholder="Location" asp-for="Login">
                    <span asp-validation-for="Login" class=" mb-3 fw-normal"></span>
                </div>  <div class="form-group">
                    <label for="exampleInputCity1" asp-for="Password"></label>
                    <input type="text" class="form-control"  placeholder="Location" asp-for="Password">
                    <span asp-validation-for="Password" class=" mb-3 fw-normal"></span>
                </div>
                 <div class="form-group">
                    <label for="exampleFormControlSelect2" asp-for="RoleType"></label>
                    <select class="form-control" id="exampleFormControlSelect2" asp-for="RoleType" asp-items="@Html.GetEnumSelectList(typeof(RoleType))">
                      
                    </select>
                    <span asp-validation-for="RoleType" class=" mb-3 fw-normal"></span>
                  </div>

                <div class="form-group">
                    <label>Изображение</label>
                    <input type="file" name="img[]" class="file-upload-default" id="image">
                    <img href="" id="im" style="width:100px;height:100px;margin-left: auto; margin-right: auto;  display: block;" />
                    <div class="input-group col-xs-12">
                        <input type="hidden" id="test" asp-for="PhotoParth" />

                        <input type="text" class="form-control file-upload-info" asp-for="PhotoParth" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                    <span asp-validation-for="PhotoParth" class=" mb-3 fw-normal"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
                <a href="/Admin/Vet/Index" class="btn btn-light">Отмена</a>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('.file-upload-default').on('change', function () {
            var file = new FormData();
            file.append("File", $(this)[0].files[0]);
            console.log(file);
            $.ajax({
                url: "/Admin/Vet/AddPhoto",
                contentType: false,
                processData: false,
                data: file,
                type: "POST",

                success: function (data) {
            
                    $("#test").val(data);
                    $("#im").attr("src", data);
                    console.log($("#test").val())
                }

            })
        });
        $(document).ready(function () {
            $('#phone').mask('+7 (000) 00-00-000');
        })
    </script>
}
