@using Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@model AnimalOwnerEntity;
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Создание Владельца животного</h4>

            <form class="forms-sample" asp-area="Admin" asp-controller="AnimalOwner" asp-action="AddAnimalOwner">

                <input type="hidden" asp-for="Id" value="0" />
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="Name"></label>
                    <input type="text" class="form-control" placeholder="Location" asp-for="Name">
                    <span asp-validation-for="Name" class=" mb-3 fw-normal"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="LastName"></label>
                    <input type="text" class="form-control" placeholder="Location" asp-for="LastName">
                    <span asp-validation-for="LastName" class=" mb-3 fw-normal"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="FatherName"></label>
                    <input type="text" class="form-control" placeholder="Location" asp-for="FatherName">
                    <span asp-validation-for="FatherName" class=" mb-3 fw-normal"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="Phone"></label>
                    <input type="text" class="form-control" placeholder="Location" asp-for="Phone">
                    <span asp-validation-for="Phone" class=" mb-3 fw-normal"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1" asp-for="Adress"></label>
                    <input type="text" class="form-control" placeholder="Location" asp-for="Adress">
                    <span asp-validation-for="Adress" class=" mb-3 fw-normal"></span>
                </div>



                <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
                <a href="/Admin/AnimalOwner/Index" class="btn btn-light">Отмена</a>
            </form>
        </div>
    </div>
</div>
