@model LoginModel
@{
    ViewData["Title"] = "Авторизация";
    Layout = "_LoginLayout";
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="~/images/logo.svg" alt="logo">
                        </div>
                       
                        <h6 class="font-weight-light">Авторизуйтесь что бы продолжить </h6>
                        <form class="pt-3" asp-controller="Account" asp-action="Login">
                            <div class="form-group">
                                <label asp-for="Login" class="h5 mb-3 fw-normal"></label>
                                <input asp-for="Login" type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="h5 mb-3 fw-normal"></label>
                                <input asp-for="Password" type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="mt-3">
                                
                                <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Войти"/>
                            </div>
                          
                            <div class="text-center mt-4 font-weight-light">
                                Вы не зарегистрированы ? <a href="/Account/Registration" class="text-primary">Создать</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

