@model RegistrationModel
@{
    ViewData["Title"] = "Авторизация";
    Layout = "_LoginLayout";
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        
                        <h4>New here?</h4>
                        <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                        <form class="pt-3" asp-controller="Account" asp-action="Registration">
                            <div class="form-group">
                                <label asp-for="Name" class="h5 mb-3 fw-normal"></label>
                                <input asp-for="Name" type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="h5 mb-3 fw-normal"></label>
                                <input asp-for="LastName" type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label asp-for="FatherName" class="h5 mb-3 fw-normal"></label>
                                <input asp-for="FatherName" type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label asp-for="Login" class="h5 mb-3 fw-normal"></label>
                                <input asp-for="Login" type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Password" class="h5 mb-3 fw-normal"></label>
                                <input asp-for="Password"  type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            
                            <div class="mt-3">
                                <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Зарегистрироваться"/>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                Уже есть аккаунт? <a href="/Account/Login" class="text-primary">Войти</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
</div>